<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>button</string>
		<key>Title</key>
		<string>Mouse button</string>
		<key>Titles</key>
		<array>
			<string>Left</string>
			<string>Middle</string>
			<string>Right</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hold key</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_shift</string>
		<key>Title</key>
		<string>shift (⇧)                      </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_alt</string>
		<key>Title</key>
		<string>alt (⌥)                         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>key_meta</string>
		<key>Title</key>
		<string>cmd (⌘)                       </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_ctrl</string>
		<key>Title</key>
		<string>ctrl (⌃)                         </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>hey</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Movement</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>scaling</string>
		<key>MaximumValue</key>
		<real>10</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>0.5</real>
		<key>Title</key>
		<string>Scaling</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>10000</real>
		<key>Key</key>
		<string>speed</string>
		<key>MaximumValue</key>
		<real>100000</real>
		<key>MinimumValue</key>
		<real>0.0</real>
		<key>StepValue</key>
		<real>100</real>
		<key>Title</key>
		<string>Speed</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>5</real>
		<key>Key</key>
		<string>friction</string>
		<key>MaximumValue</key>
		<real>26</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>2.5</real>
		<key>Title</key>
		<string>Friction</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>debug</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>notext</string>
		<key>Title</key>
		<string>Allow text selection</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>cursor</string>
		<key>Secure</key>
		<false/>
	</dict>
</array>
</plist>
