<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>button</string>
		<key>Title</key>
		<string>Mouse button</string>
		<key>Titles</key>
		<array>
			<string>Left</string>
			<string>Middle</string>
			<string>Right</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>scaling</string>
		<key>MaximumValue</key>
		<real>10</real>
		<key>MinimumValue</key>
		<real>0.10000000000000001</real>
		<key>StepValue</key>
		<real>0.10000000000000001</real>
		<key>Title</key>
		<string>Scaling</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>6000</real>
		<key>Key</key>
		<string>speed</string>
		<key>MaximumValue</key>
		<real>100000</real>
		<key>MinimumValue</key>
		<real>1</real>
		<key>StepValue</key>
		<real>100</real>
		<key>Title</key>
		<string>Speed</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>5</real>
		<key>Key</key>
		<string>friction</string>
		<key>MinimumValue</key>
		<real>1</real>
		<key>Title</key>
		<string>Friction</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>alt</string>
		<key>Key</key>
		<string>keys</string>
		<key>Title</key>
		<string>Hold keys</string>
		<key>Titles</key>
		<array>
			<string>shift</string>
			<string>alt</string>
			<string>cmd</string>
		</array>
		<key>Type</key>
		<string>Group</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_shift</string>
		<key>Title</key>
		<string>⇧ shift</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_alt</string>
		<key>Title</key>
		<string>⌥ alt   </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_meta</string>
		<key>Title</key>
		<string>⌘ cmd</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>key_ctrl</string>
		<key>Title</key>
		<string>⌃ ctrl  </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
